body{
 margin: 0;
 padding: 0;
 
    
}
#bg-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
   z-index:-1;
   top:0;
   left:0;
   position: fixed;
}
header{
    color: rgb(157, 157, 157);
    justify-content: space-between;
   font-size: 20px;
    background-size: cover;
    background-color: #000000;
    box-shadow: 0 2px 5px;
    padding: 10px 10px;
    align-items: center;
     display: flex;
     height: 50px;
  


}


.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 10px;
}
.div{
    margin: 6rem 12rem;
    height: 20 rem  ;
    width: 36rem;
    background-size: 100% 100%;
box-shadow: 20 px 20 px 10 px gray;
animation: slider 10s linear infinite;

} 

  
h1{
      font-size: 40px;
    color: aliceblue;
    text-align: left;
    margin: 20px;
   line-height: 2.25rem;
   letter-spacing: .02em;
   margin-top: 5cm;

}
.why-ASTRA{
    letter-spacing: .02em;
    font-family: D-DIN;
    display: block;
    margin-block-start:1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    unicode-bidi: isolate;
    margin-left: 850px;
    margin-top: -25%;
     color: #F25912;       
  font-family: 'Pacifico', cursive;
  font-size: 30px;       
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
}
p{
    color: rgb(255, 255, 255);
letter-spacing: .02em;
  font-family: D-DIN;
       display: block;
    margin-block-start:1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    unicode-bidi: isolate;
    margin-left: 850px;
    margin-top: 2%;
     color: #fff;       
  font-family: 'Pacifico', cursive; /* fancy font for A */
  font-size: 16px;        /* make it bigger than normal */
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

h2{
    color: #FFF;
    margin-inline-start: 20px;
}

nav{
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
 nav a{
    color: #ffffff;
    margin-left: 20px;
    font-weight: bold;
    text-align:right;
     padding: 5px 10px;
      border-radius: 4px;
      transition: 0.3s;
     
     
 }
 nav a:hover{
    color: #F25912;
    text-shadow: 0 0 10px #F25912;
 }
.logobg{
   position: absolute;
   right: 90px;
   left: 35%;
   top: 60%;
   transform: translateY(-50%);
   width: 400px;
   height: 400px; 
   border-radius: 50%;
   transition: 0.3s;
   filter: drop-shadow(0 0 70px #514d4d);
   filter: drop-shadow(0 0 10px #514d4d)
          drop-shadow(0 0 30px #514d4d)
        drop-shadow(0 0 50px #514d4d);
        }
.logobg:hover{
  filter: brightness(100%);
  
}
.logo{
    font-size: 1.3rem;
    font-weight: 700;
    color:#F25912 ;
    letter-spacing: 1px;
    margin-right: auto;
    width: 150px;
     border-radius: 50%;
     

}

.special-A{
  color: #F25912;        /* your orange color */
  font-family: 'Pacifico', cursive; /* fancy font for A */
  font-size: 30px;        /* make it bigger than normal */
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* optional glow effect */
}

    
